<!--
  Generated template for the Event page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{event.name}}</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="event-map" id="map"></div>
	<div style="width: 100%;height: 300px;"></div>
	<div class="fund-container">
		<h1 *ngIf="fundPercentage==100">Funded</h1>
		<h1 *ngIf="fundPercentage!=100"> Not yet funded</h1>
		<p>{{event.sponsors}}</p>
		<figure class="chart-one animate" *ngIf="fundPercentage==100">
			<svg role="img" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle-background"/>
				<circle class="circle-foreground"/>
			</svg>
			<figcaption>25% of all males like donuts.</figcaption>
		</figure>
		<figure class="chart-two animate" *ngIf="fundPercentage!=100">
			<svg role="img" xmlns="http://www.w3.org/2000/svg">
				<circle class="circle-background"/>
				<circle class="circle-foreground"/>
			</svg>
			<figcaption>25% of all males like donuts.</figcaption>
		</figure>
	</div>
	
	<ion-list class="fullwidth-list light">
		<ion-item-divider light>Information</ion-item-divider>
		<ion-item tappable>
			<ion-avatar item-left>
		      <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-256.png">
		    </ion-avatar>
		    <h2>{{event.address}}</h2>
		</ion-item>
		<ion-item tappable>
			<ion-avatar item-left>
		      <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/unknown-256.png">
		    </ion-avatar>
		    <h2>{{event.participants}} Participants</h2>
		</ion-item>
		<ion-item tappable>
			<ion-avatar item-left>
		      <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/heart-256.png">
		    </ion-avatar>
		    <h2>{{event.likes}} Likes</h2>
		</ion-item>
		<ion-item tappable>
			<ion-avatar item-left>
		      <img src="https://cdn2.iconfinder.com/data/icons/flat-icons-19/512/Flower_pot.png">
		    </ion-avatar>
		    <h2>{{event.points}} EcoPoints</h2>
		</ion-item>
		<ion-item-divider *ngIf="event.description" light>Description</ion-item-divider>
		<ion-item class="normalwrap-item" *ngIf="event.description">
			<p>{{event.description}}</p>
		</ion-item>
	</ion-list>

	<ion-list class="fullwidth-list dark resource-list" no-lines>
		<ion-item *ngIf="event.resources?.length > 0">
			<h2 style="text-transform: uppercase;">Needed Resources:</h2>
		</ion-item>
		<ion-item tappable *ngFor="let resource of event.resources;let i=index" (click)="checkResource(i)">
			<p [class.done]="resource.done">- {{resource.name}}</p>
			<p item-right [style.opacity]="resource.done">{{resource.doneBy}}</p>
		</ion-item>
	</ion-list>

	<ion-grid class="event-buttons">
		<ion-row>
			<ion-fab right>
				<button ion-fab mini><ion-icon name="arrow-dropleft"></ion-icon></button>
				<ion-fab-list side="left">
					<button ion-fab><ion-icon name="md-eye"></ion-icon></button>
					<button ion-fab><ion-icon name="md-git-pull-request"></ion-icon></button>
					<button ion-fab><ion-icon name="ios-heart"></ion-icon></button>
					<button ion-fab><ion-icon name="md-share"></ion-icon></button>
				</ion-fab-list>
			</ion-fab>
		</ion-row>
	</ion-grid>
</ion-content>
