<!--
  Generated template for the EventCreator page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="successOverlay" *ngIf="eventAnimation.display">
	<div  class="circle" [class.circleIn]="eventAnimation.circleIn"></div>
	<div class="contentStuff" [class.fadeIn]="eventAnimation.fadeIn">
		<ion-spinner name="crescent" color="primary" *ngIf="eventAnimation.loaderShow"></ion-spinner>
		<h2 *ngIf="eventAnimation.textShow" [class.fadeIn]="eventAnimation.textFade">{{eventAnimation.textMsg}}</h2>
	</div>
</div>
<ion-header>

  <ion-navbar color="primary">
  	<ion-buttons left style="display: none;">
	    <button ion-button clear menuToggle>
	    	<ion-icon name="md-menu" style="font-size: 2.5rem;margin-right: 0px;"></ion-icon>
	    </button>
    </ion-buttons>
    <ion-title style="text-align: center;padding-right: 10px;">Create Event</ion-title>
    <ion-buttons end>
	    <button ion-button clear (click)="submitForm()" [attr.disabled]="eventForm.name? 
	    null:true">
	    	<ion-icon name="md-create" style="font-size: 2.3rem;margin-right: 1.0rem"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div #content id="content">
		<div class="event-info-container">
			<img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/calendar-256.png" />
	    	<div class="event-info">
	    		<h2>{{eventForm.name || 'New Event'}}</h2>
	    		<p>{{eventForm.address || 'Someplace, 1234 Somewhere'}}</p>
			</div>
		</div>

		<form>
			<ion-list inset style="margin: 0;" class="eventForm">

				<ion-list-header style="background-color: #EDEDED;">
					Basic Info
				</ion-list-header>

				<ion-item class="form-padding event-icon-input">
					<ion-label stacked>Event Name</ion-label>
					<button ion-button clear color="danger" item-left type="button" disabled (click)="removeResource(i)">
					      <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-clipboard-128.png" width="23" style="opacity: 0.7;" /></button>
					<ion-input [(ngModel)]="eventForm.name" name="name" type="text" placeholder="" required></ion-input>
				</ion-item>

				<ion-item class="form-padding event-icon-input">
					<ion-label stacked>Address</ion-label>
					<button ion-button clear color="danger" item-left type="button" disabled (click)="removeResource(i)">
					      <img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-128.png" width="23" /></button>
					<ion-input ngControl="duration" [(ngModel)]="eventForm.address" name="address" type="text" placeholder="" required></ion-input>
				</ion-item>

				<ion-item class="form-padding">
					<ion-label stacked>Description</ion-label>
					<ion-textarea ngControl="description" type="textarea" placeholder=""></ion-textarea>
				</ion-item>

				<ion-list-header style="background-color: #EDEDED;">
					Dates
				</ion-list-header>

				<ion-item class="form-padding resource-date event-icon-input">
				  <ion-label style="margin-left: 30px">Event Begin</ion-label>
				  <button ion-button clear color="danger" item-left type="button" disabled (click)="removeResource(i)" style="bottom: 1px;">
					      <img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-128.png" width="23" /></button>
				  <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="DD MMM, YYYY"  max="2020-10-31" [(ngModel)]="eventForm.date" name="date"></ion-datetime>
				</ion-item>

				<ion-item class="form-padding resource-date event-icon-input">
				  <ion-label style="margin-left: 30px">Event Time</ion-label>
				  <button ion-button clear color="danger" item-left type="button" disabled (click)="removeResource(i)" style="bottom: 1px;">
					      <img src="https://cdn1.iconfinder.com/data/icons/freeline/32/alarm_alert_clock_event_history_schedule_time_watch-128.png" width="23" /></button>
				  <ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" [(ngModel)]="eventForm.beginTime" name="beginTime"></ion-datetime>
				</ion-item>

				<ion-list-header style="background-color: #EDEDED;">
					Needed Resources
				</ion-list-header>

				<ion-item class="form-padding resourceItem" *ngIf="eventForm.resources?.length > 0">
					<p *ngFor="let resource of eventForm.resources; let i = index;">
						<button ion-button clear color="danger" item-left type="button" style="vertical-align: middle;margin:0 0 1px 0;" (click)="removeResource(i)">
					      <ion-icon name="md-close"></ion-icon>
					    </button>
					    {{resource.name}}
				    </p>
				</ion-item>

				<ion-item class="form-padding">
					<ion-label stacked>Resource</ion-label>
					<button (click)="addResource()" ion-button item-right type="button" clear color="royal" class="resource-button">
						Add Resource 
						<ion-icon name="md-send"></ion-icon>
					</button>
					<ion-input [(ngModel)]="resource.name" name="resource" (keyup.enter)="addResource()" #input class="resource-input" type="text" placeholder=""></ion-input>
				</ion-item>

				<ion-item style="display: none;">
				</ion-item>

			</ion-list>

		</form>
	</div>

</ion-content>
